* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    background-color: pink;
}
#pizzas{
    /* background-color: aquamarine; */
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.pizza-card {
    background-color: blanchedalmond;
    width: 20%;
    height: 35rem;

}


.pizza-card img{
    width: 100%;  
    margin: 0 0 2rem 0;  
}

.pizza-content {
    background-color: brown;
}