@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* szürke 1 : #525050
szürke 2 :#3e3c3d
szürke 3 :#333333
szürke 4 :#1c1a1b
foodbar felirat (hússzín) :#ce5051
pirosas pink: #e90f31
kicsit pinkebb pink:#f01d42 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Comic Neue', cursive;
    background-color: #403e3e;
    color: white;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #ce5051;
}

.main {
    display: flex;

}

#pizzas {
    /* background-color: aquamarine; */
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#order-div {
    width: 20%;
    display: none;
    /* set by script.js */
    margin-top: 40px;
    margin-bottom: 40px;
}

/* END OF ORDER SECTION */

.pizza-card {
    width: 30rem;
    height: 45rem;
    background-color: #1c1a1b;
    padding: 1rem;
}

.pizza-card img {
    width: 100%;
    margin: 0 0 2rem 0;
}

.pizza-content {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    min-height: 50%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pizza-content input {
    display: block;
    width: 5rem;
    height: 4rem;
    margin: 1rem auto;
    border-radius: 50%;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.pizza-content button {
    background-color: #e90f31;
    border: none;
    padding: .8rem;
    color: white;
}

/* BASKET SECTION */

#basket {
    display: flex;
    flex-direction: column;
}

#basket-list {
    display: flex;
    flex-direction: column;
}

#basket-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket-line div {
    display: inline-block;
}

/* END OF BASKET SECTION */